<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>
<h1>Book list</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Year written</th>
        <th>Age</th>
        <th>Num of pages</th>
        <th>Num of copies</th>
        <th></th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getYearWritten()}"></td>
        <td th:text="${book.getHowOld()}"></td>
        <td th:text="${book.getNumberOfPages()}"></td>
        <td th:text="${book.getNumberOfCopies()}"></td>
        <td>
            <a th:href="@{/book/remove(bookId=${book.getId()})}">Remove</a>
            <a th:href="@{/book/edit(bookId=${book.getId()})}">Edit</a>
        </td>
    </tr>
</table>
</body>
</html>